<%@type=TypeCustomFields.findAll%>

<%= link_to "Gestione Tipologie",
            {:controller => 'type_custom_fields', :action => 'gestione'},
                          :class => 'icon icon-add' %>
<br>

<%= link_to "Gestione Valori",
            {:controller => 'linked_custom_fields', :action => 'gestione'},
                          :class => 'icon icon-add' %>


</div>
