<p>
  <label><%=l(:field_linked_custom_id2)%></label>
  <select id="linked_custom_id2" name="issue[linked_custom_id2]">
     <option value=""><%=l(:label_nobody)%></option> + <%= options_from_collection_for_select(@filtered_custom, :id, :valore) %>
  </select>
 
 </p>
