<p>
	<label><%=l(:label_valore)%></label>
  <select id="issue_linked_custom_value_id" name="issue[linked_custom_value_id]">
     <option value=""><%=l(:label_nobody)%></option> + <%= options_from_collection_for_select(@father_filtered_custom, :id, :valore) %>
  </select>
 </p>
